<div th:with="disableFields=!${editMode} and ${#authorization.expression('hasRole(''USER'')')}">

<form class="form" role="form" autocomplete="off" th:object="${FormularioUsuarios}" th:action="${signup} ?@{/signup} :(${editMode} ?@{/editarUsuario} :@{/FormUsuario})" method="post">
	<input class="form-control" type=hidden th:field="${FormularioUsuarios.id}" th:if="${editMode}">
	<input class="form-control" type=hidden name="password" value="xxxx"  th:if="${editMode}">
	
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Nombre:</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${FormularioUsuarios.nombre}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Nombre Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Apellidos:</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${FormularioUsuarios.apellido}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Apellido Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Usuario:</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${FormularioUsuarios.username}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Usuario Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Email:</label>
		<div class="col-lg-9">
			<input class="form-control" type="email" th:field="${FormularioUsuarios.email}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Pais:</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${FormularioUsuarios.Pais}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('Pais')}" th:errors="*{Pais}">Pais Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Ciudad:</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${FormularioUsuarios.ciudad}" th:disabled="${disableFields}"> 
			<div class="alert-danger" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label th:text="Roles"
			class="col-lg-3 col-form-label form-control-label"></label>
		<div class="col-lg-9">
			<select  class="form-control" th:size="${signup}?1:2" th:field="${FormularioUsuarios.roles}" th:disabled="${disableFields}" >
				<option th:each="Rol :${roles}" th:value="${Rol.id}" 
					th:text="${Rol.nombre}"></option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Name Error</div>
		</div>
	</div>
	<div class="form-group row" th:if="${editMode==null or editMode==false}">
		<label class="col-lg-3 col-form-label form-control-label" >Contrasena:</label>
		<div class="col-lg-9">
			<input class="form-control" type="password" th:field="${FormularioUsuarios.password}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
		</div>
	</div>
	<div class="form-group row" th:if="${editMode==null or editMode==false}">
		<label class="col-lg-3 col-form-label form-control-label">Confirmar contrasena:</label>
		<div class="col-lg-9">
			<input class="form-control" type="password" th:field="${FormularioUsuarios.confirmPassword}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-lg-12 text-center">
			<a class="btn btn-secondary" th:href="@{'/FormUsuario/cancel'}" >Cancelar</a>
			<button type="button" class="btn btn-secondary" data-toggle="modal" th:if="${editMode}" data-target="#changePasswordModal">Cambiar contraseña</button>
			<input type="submit" class="btn btn-success" value="Save Changes" th:value="${editMode}?'Guardar Usuario':'Registrarse'">
		</div>
	</div>
	<div class="alert alert-danger text-center" th:if="${formErrorMessage}" th:text="${formErrorMessage}">Error Message</div>
	<div class="alert alert-success text-center d-none" id="formSuccess" th:if="${editMode}" >Success Message</div>
</form>
</div>