<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Cassa UDEC</title>


<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link
	href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
	rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Work+Sans:wght@300;700&display=swap"
	rel="stylesheet">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>

<body>
	<div class="contenedor">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<img src="static/img/Logoudec.png" th:src="@{img/Logoudec.png}"
				width="150" alt="">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			</div>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a class="navbar-brand">CASSA
							UDEC</a></li>
				</ul>
			</div>
			<li aling="right" class="navbar-nav mr-auto"><a
				th:href="@{/logout}" class="nav-link" href="index.html"
				sec:authorize="isAuthenticated()">Cerrar sesion</a></li>
		</nav>
	</div>
	<div class="container-fluid">
		<div class="row flex-nowrap">
			<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
				<div
					class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
					<ul
						class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
						id="menu">
						<li class="nav-item"><a href="#"
							th:href="@{/indexUser}" class="d-block text-success p-3 border-0 "> <i
								class="icon ion-md-home mr-2"></i> <span
								class="ms-1 d-none d-sm-inline">Inicio</span>
						</a></li>
						<li><a href="#" th:href="@{/ListarCartillasUser}" class="d-block text-success p-3 border-0">
								<i class=""></i> <span
								class="ms-1 d-none d-sm-inline">Cartillas</span>
						</a></li>
						<li><a href="#" th:href="@{/Actividades}" class="d-block text-success p-3 border-0">
								<i class=""></i> <span
								class="ms-1 d-none d-sm-inline">Actividades</span>
						</a></li>
						<li><a href="#" class="d-block text-success p-3 border-0">
								<i class="icon ion-md-chatboxes mr-2"></i> <span
								class="ms-1 d-none d-sm-inline">Chat</span>
						</a></li>
						<li><a href="#" class="d-block text-success p-3 border-0">
								<i class=""></i> <span
								class="ms-1 d-none d-sm-inline">Noticias</span>
						</a></li>
						<li><a href="#" th:href="@{/ListarEventosUser}" class="d-block text-success p-3 border-0">
								<i class=""></i> <span
								class="ms-1 d-none d-sm-inline">Eventos</span>
						</a></li>
						<li><a href="#" class="d-block text-success p-3 border-0">
								<i class=""></i> <span
								class="">Foros</span>
						</a></li>
						<li><a href="#" class="d-block text-success p-3 border-0">
								<i class=""></i> <span
								class="">Multimedia</span>
						</a></li>
					</ul>
				</div>
			</div>
			<div class="container text-center">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Nombre de la cartilla</th>
							<th scope="col">Descripcion de la cartilla</th>
							<th scope="col">Descargar Archivo</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="Cartillas : ${cartillas}">
							<td> [[${Cartillas.id}]]</td>
							<td> [[${Cartillas.nombre_Cartilla}]]</td>
							<td th:text="${Cartillas.descripcion}"></td>
							<td>
							<a th:href="@{'/descargar?id=' + ${Cartillas.id}}" class="btn btn-warning">Descargar</a>
							</td>
						</tr>	
					</tbody>
				</table>
			</div>

		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="js/funciones2.js"></script>
</body>

</html>